* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open-sans', sans-serif;
    box-sizing: border-box;
    color: rgb(26, 26, 26);
}
body{
    margin: 50px auto;
    width: 70vw;
}
.overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px;
}
.control-balance {
    flex-direction: row;
    margin: 12px;
}
h1 {
    padding: 12px;
}
.balance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 12px;
    margin-bottom: 0px;
}
input {
    height: 28px;
    border-radius: 8px;
    border-style: none;
    padding: 6px;
    background-color: aliceblue;
    border: 1px solid #b1b1b1
}
input:focus, select:focus, button {
    outline: none;
    box-shadow: none;
}
select, button {
    height: 28px;
    border-radius: 8px;
    width: 100px;
    padding: 6px;
    border-style: none;
    outline: 1px solid #a4a4a4;
    transition: 0.5s;
}
button:hover {
    background-color:  rgb(188, 188, 188);
}

#transaction-list {
    list-style: none;
    margin: 48px 12px;
}
li {
    margin-bottom: 24px;
}
.btn-delete {
    height: 24px;
    border-radius: 8px;
    width: 24px;
    padding: 6px;
    margin-left: 48px;
    border-style: none;
    outline: 1px solid #9d9d9d;
    transition: 0.5s; 
}